.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}




main {
  flex: 1 0 auto;
  background-color: white;
  /* height: 3020px; */
  height: auto;
  box-shadow: 0px 0px 46px -25px rgba(0, 0, 0, 0.08);

}



footer {
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 500px;
  flex-shrink: 0;
  z-index: -1;
  background-color: #333333;
display: flex;
flex-direction: column;
align-items: baseline;


}

footer li a {
  transition: 200ms all ease;
  font-family: 'Nunito Sans', sans-serif;
}

footer li a:hover {
  color: lightgray;
  text-decoration: underline ;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  flex-grow: 1;
  width: 68%;
  height: 65%;
  flex-wrap: wrap;
  margin: auto;
  position: relative;
  top: -50px;
}

.footer-container div {
  
  height: 50px;
  /* border: 3px solid red; */
  text-align: left;
  font-size: 14px;
  font-family: 'Nunito Sans', sans-serif;
  color: white;
  margin-top: 20px;
}

footer img {
  object-fit: cover;
  filter: invert(100%);

}

.logoandtext {
  color: white;
  width: 300px;
  
}

.logoandtext p {
  margin-top: 20px;
  color: gray;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
}

.explore-links {
  list-style: none;
  margin-top: 10px;

}

.explore-links li {
  color: gray;
  text-align: left;
  line-height: 30px;

}

.contact-links {
  list-style: none;
  margin-top: 10px;

}

.contact-links li {
  color: gray;
  text-align: left;
  line-height: 30px;

}

.legal-links {
  list-style: none;
  margin-top: 10px;

}

.legal-links li {
  text-align: left;
  line-height: 30px;

}

footer a {
  color: gray;
}

.line {
  width: 70%;
  margin: auto;
  border-bottom: 1px solid #4b4b4b;
}

.social {
  width: 30%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-evenly;

}

.social img {
  filter: invert(0%);
  width: 35px;
}

.social a {
  transition: .1s linear;
}

.social a:hover {
  filter: invert(47%) sepia(53%) saturate(479%) hue-rotate(165deg) brightness(91%) contrast(91%);
}

.copyright {
  color: white;
  font-family: 'Nunito Sans', sans-serif;
  display: flex;
  justify-content: flex-end;
  width: 70%;
  margin: auto;
  font-size: 14px;
  padding-bottom: 20px;
}


@media screen and (max-width: 1300px) {
  .footer-container {
    width: 78%;
  }

  .line {
    width: 80%;
  }
  .copyright {
    width: 80%;
  }
}

@media screen and (max-width: 1000px) {
  footer {
    height: 650px;
    position: relative;
  }

  

  .logoandtext {
    width: 100%;
    padding-top: 60px;
    
  }

  .footer-container {
    width: 78%;
    margin-bottom: 30px;
  }

  .copyright {
    font-size: 12px;
    width: 80%;
  }

  .social {
    width: 80%;
  }

}

@media screen and (max-width: 500px) {

  footer {
    height: 900px;
  }
  .footer-container {
    flex-direction: column;
    align-items: baseline;
    justify-content: space-around;
    
  }

  .footer-container div {
    height: auto;
  }

  
    
}