.mySlides {
    display: none;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.w3-left,
.w3-right,
.w3-badge {
    cursor: pointer
}

.w3-badge {
    height: 13px;
    width: 13px;
    padding: 0
}