* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;

}

main {
    width: 80%;
    margin: auto;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: auto;
}

input {
    margin-bottom: 5px;
}

img {
    margin-bottom: 30px;
}

h1 {
    color: purple;
    font-family: Helvetica;
    font-size: 70px;
    text-align: center;
    padding: 40px;
}



