

header {
        background-color: black;
        display: flex;
        justify-content: center;

    h1 {
        color: white;
        font-family: serif;
    }
}

.content {
    
    .main-pic {
        width: 100px;
    }


}



